<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Fitnesse</string>
	<key>uuid</key>
	<string>42223191-9292-4EBA-97D3-97B011475414</string>
</dict>
</plist>
